.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-basket {
        @include rem(width, 24px);
        @include rem(height, 24px);
    }

    &-zoom {
        @include rem(margin-left, 40px);
        @include rem(width, 22px);
        @include rem(height, 22px);
    }

    &-add {
        width: 100%;
        background: #FF0000;
        @include rem(height, 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        color: #fff;
    }

    &-back {
        display: flex;
        align-items: center;
    }

    &-delete {
        @include rem(margin-top, 38px);
    }

    &-neworder {
        width: 328px;
        height: 50px;

        background: #FF0000;
    }

    &-inc {
        background: #FF0000;
        @include rem(width, 32px);
        @include rem(height, 32px);
        display: flex;
        align-items: center;
        justify-content: center;

        &-minus {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include rem(width, 16px);
                @include rem(height, 3px);
                background-color: #fff;
            }
        }

        img {
            @include rem(width, 16px);
        }
    }
}
