.prop {
    width: 100%;

    &_img {
        width: 100%;
        padding-top: 70%;
        position: relative;

        &-basket {
            padding-top: 80%;
        }

        &_src {
            width: 100%;
            height: 100%;
            position: absolute;
            lefT: 0;
            top: 0;
            background-size: cover;
            background-position: center center;

        }
    }
}
