@import "../../mics/predpro/style";
@import "./components/text";
@import "./components/header";
@import "./components/footer";
@import "./components/btn";
@import "./components/prop";
@import "../../../../node_modules/swiper/dist/css/swiper.css";
@import "../../../../node_modules/@fancyapps/fancybox/src/css/core.css";
@import "../../../../node_modules/codemirror/lib/codemirror.css";

body {
    @include rem(padding-bottom, 24px);
}

.container {
    width: 100%;
    max-width: 900px;
    @include rem(padding, 0 16px);
    box-sizing: border-box;
    margin: 0 auto;

    &-p2 {
        @include rem(padding-top, 32px);
    }

    @include sm-block() {
        max-width: 90%;
    }

    &-mini {
        width: 1299px;
    }

    @include sm-block() {
        max-width: 100%;
    }


}

.request-nav {

}

.title {

    &-product {
        position: relative;
        z-index: 2;
        @include rem(padding, 0 16px);
        text-align: center;
        letter-spacing: -0.9px;
        @include rem(margin-bottom, 8px);
        text-align: center;

        p {
            border-bottom: 1px solid #FF0000;
            @include rem(padding-bottom, 4px);
            @include rem(padding-top, 10px);
        }
    }

    &-baskets {
        @include rem(padding-bottom, 4px);
        border-bottom: 1px solid #FF0000;
        display: flex;
        justify-content: space-between;
    }
}

.feature {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    @include rem(padding, 0 16px);
    @include rem(padding-top, 16px);
    margin-top: auto;
    @include rem(margin-bottom, 8px);
}

.products {
    @include rem(margin-top, 16px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.4444444444444444rem;

    &-catalog {
        .product + .product {
            margin-top: 0;
        }

        .product:nth-child(n+3) {
            @include rem(margin-top, 24px);
        }
    }
}

.title-head {
    @include rem(margin-left, 24px);
    color: #fff;
}

.content {
    &-product {
        position: relative;
        z-index: 2;
        @include rem(padding, 0 16px);
        text-align: center;

    }
}

.product {
    position: relative;
    width: calc(50% - 0.4444444444444444rem);
    margin-left: 0.4444444444444444rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    & + & {
        @include rem(margin-top, 24px);
    }


    &-full {
        width: calc(100% - 0.4444444444444444rem);
        box-shadow: none;

    }

    &-full &_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .prop {
            height: 100%;

            &_img {
                height: 100%;
                position: relative;
                padding-top: 0;
            }
        }

    }

    &-full &_detalis {
        position: relative;
        margin-left: auto;
        top: 0;
        width: 61%;


        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(7px);
        }
    }

    &_detalis {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

    }
}

.baskets {
    display: flex;
    flex-direction: column;
}

.increase {
    display: flex;

    p {
        background: #A50808;
        @include rem(height, 32px);
        @include rem(width, 48px);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.basket-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    @include rem(padding, 17px 16px);

    &_detalis {
        display: flex;
        @include rem(padding-top, 8px);
    }

    &_increase {
        display: flex;
        align-items: flex-end;
        @include rem(padding-left, 8px);
    }

    &_del {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: flex-end;
        margin-left: auto;
    }

    &_img {
        @include rem(width, 96px);
    }

    & + & {
        @include rem(margin-top, 16px);
    }
}

.result-order {
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    @include rem(margin-top, 16px);

    &_select {
        @include rem(padding, 16px);

    }

    &_sel {
        @include rem(margin-top, 8px);
    }

    &_result {
        width: 100%;
        height: 228px;
        background: #FFFFFF;
        border: 1px solid #FF0000;
        box-sizing: border-box;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        p {
            display: flex;
            justify-content: space-between;
        }

        p + p {
            @include rem(margin-top, 24px);
        }

    }

    &_detalis {
        display: flex;
        flex-direction: column;
        @include rem(padding, 16px);
        margin-bottom: auto;
    }
}

.select-custom {
    background: #FFFFFF;
    border: 1px solid #7D7D7D;
    box-sizing: border-box;
    width: 100%;
    @include rem(height, 50px);
    @include rem(padding, 16px);
    color: #202020;
    outline: 0;

    background-image: url("/public/media/client/images/basket/icon/ar_bottom.png");
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include rem(background-size, 18px);
    background-repeat: no-repeat;
    background-position: right 0.8333333333333333rem center;
}

.bulpForm_body_form {
    margin-top: 0.5rem;
}

.language_grup {
    label {
        font-family: Arial;
        font-size: 0.75rem;
    }

    .form-group {
        width: 100%;


        input {
            width: 100%;
            border: 0;
            padding: 0.5rem 1rem;
            font-family: Arial;
            background-color: #f1f1f1;
            font-size: 0.85rem;
            margin-top: 0.5rem;
            box-sizing: border-box;
        }

    }
}

button.btn.btn-success.flat-buttons.waves-effect {
    background-color: red;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
}

.language_grup + .language_grup {
    margin-top: 1rem;
}

.titleh2 {
    margin-top: 1rem;
}

.deks {
    width: 100%;
}

.lising {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tex_return {
    min-width: 100%;
    max-width: 100%;
    font-family: Arial;
    font-size: 12px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.input-text {
    width: 100px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0;
    font-size: 14px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    outline: 0;
}
